*{
    margin:0;
    padding: 0;
    font-family: monospace !important; 
}

.header{
    top: 0;
    border: 0;
}

.table_glossario{
    margin-inline: 4.2rem;
    margin-top: 2rem;
    width: 90vw;
    overflow: auto;
    position: relative;
    padding: 0;
}

.title_table {
    color: var(--white-color);
    font-size: 16pt;
}

.title_palavra{
    text-align: center;
}

.title_descricao{
    text-align: center;

}
.table_glossario tr:nth-child(odd) td{
    background-color: RGB(216, 222, 233);
}

.palavra{
    font-size: 11pt;
    text-align: center;

}

.descricao{
    font-size: 11pt;
    padding-inline: 3rem;
    text-align: justify;
    text-indent: 15px;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem ;
}


